{% extends 'basefinal.html' %}
{% block content %}

<div class="list-box">
    <h2>Lista de Colaboradores</h2>
    <a class="btn-adi" href="{% url 'criar_colaborador' %}">+ Adicionar Colaborador</a>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores %}
            <tr>
                <td>{{ colaborador.nome }}</td>
                <td>{{ colaborador.matricula }}</td>
                <td>{{ colaborador.cargo }}</td>
                <td>
                    <a class= "btn-edi" href="{% url 'editar_colaborador' colaborador.id %}">Editar</a> |
                    <a class= "btn-exc"href="{% url 'excluir_colaborador' colaborador.id %}">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum colaborador cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}